.page_card_create {
    padding-bottom: 55px;
    .pcc_block_wrap {
      padding: 15px;
      box-sizing: border-box;
      background-color: white;
      .pcc_block {
        .pcc_block_title {
          font-weight: bold;
          border-bottom: 1px solid #eee;
          padding-bottom: 15px;
        }
        .pcc_block_lable {
          text-align: right;
          display: block;
          padding-right: 10px;
        }
        .pcc_block_row {
          margin: 20px 0;
        }
        .pcc_block_radio {
          display: block;
        }
        .pcc_block_link {
          color: rgba(24, 144, 255, 1);
          padding-left: 10px;
          vertical-align: middle;
        }
        .pcc_block_gap {
          padding-right: 10px;
        }
      }
    }
  
    .pcc_block_btns {
      position: fixed;
      bottom: 0;
      right: 0;
      left: 150px;
      background-color: white;
      height: 55px;
      box-shadow: 0 -3px 5px #eee;
      text-align: center;
      line-height: 55px;
      .pcc_block_btn {
        margin: 0 15px;
      }
    }
  }
  